
{% block content %} 

<div id="content">
    <div class="banner inside"><div style="background-image:url({{ asset('uploads/images/4.jpg') }});"></div></div> 

	<div class="news">
        {% for i, new in data['data'] %}
			<h1>{{ new.data.title.value }}</h1>
            <span class="date">{{ new.data.date.value.data }}</span>
            {{ new.data.new.value|raw }}
        {% endfor %}
        <p><br><hr><a href="{{ url }}" class="back-to-news">Вернуться к списку</a></p>                

        </div> 
</div> 

{% endblock %}